// Font
$font-family: 'Barlow Condensed', sans-serif;

$fs-sm: 12px;
$fs-normal: 14px;
$fs-lg: 16px;

$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Palette
$black: #000;
$black-form: #333;
$white: #fff;
$text-color: #414141;
$color-primary: #27af82;
$color-purple: #4618bacc;
$color-secondary: #2bb9a9; // for text color;
$color-teal: #20c997;
$color-success: #3aa1b8;
$color-border: #74bdcd; // use for border
$color-danger: #e84040;
$color-red: #f26957;
$color-gray: #6c757d;
$color-gray-dark: #343a40;
$border-color: rgb(134, 147, 156);
$color-black-fill: #3a3f45;
$color-gray-500: #86938d;
$color-gray-600: #888888;
$color-gray: #a6afaa;
$color-light-gray: #d6d5d5;
// Box-shadow
$shadow-primary: 0px 2px 4px rgba(0, 0, 0, 0.1);
